<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vuetest</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <style>
        .red{
            color:red
        }
        .green{
            color:green
        }
        .blue{
            color:blue
        }
    </style>
    <div id="app">
        {{ number }}
        <button @click="countUp">カウントアップ</button>
        <div v-if="number">条件次第で表示</div>
        <ul>
            <li v-for="item in items">{{item}}</li>
        </ul>
        <div :class="color">カラー</div>
        <input type="text" v-model="color">
        {{customColor}}
    </div>
    <script>
        new Vue({
            el:"#app",
            data:{
                number:0,
                items:[1,2,3,4,5],
                color:""
            },
            methods:{
                countUp:function(){
                    this.number = this.number+1
                }
            },
            computed:{
                customColor:function(){
                    return this.color.toUpperCase()
                }
            }
        })
    </script>
</body>
</html>